<html>
<head>
  <title>The Spectator ({{ date }})</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta content="{{ tempdir }}/cover.jpg" name="cover">
  <link rel="stylesheet" href="{{ tempdir }}/style.css"  type="text/css" />
</head>
<body>
  <h1>The Spectator ({{ date }})</h1>

  <nav epub:type="landmarks" class="hidden-tag" hidden="hidden">
    <ol>
      <li><a epub:type="toc" href="toc.html">Table of Contents</a></li>
    </ol>
  </nav>

  <div id="toc">
    <ul>
      {% for key, group in grouped %}
      <li>
        {% if group|length == 1 %}
          {% if key and key != group[0].title %}{{ key }}:{% endif %}
          {% for article in group %}
            <a href="#ch{{ article.idx }}">{{ article.title }}</a>
            {% if article.author and article.author != article.subsection %}
              ({{ article.author }})
            {% endif %}
          {% endfor %}
        {% else %}
          {{ key }}
          <ul>
            {% for article in group %}
            <li>
              <a href="#ch{{ article.idx }}">{{ article.title }}</a>
              {% if article.author %}
                ({{ article.author }})
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

  {% for article in articles %}
    <mbp:pagebreak />

    <h2 id="ch{{ article.idx }}">
      {% if article.subsection and article.title != article.subsection and article.author != article.subsection %}{{ article.subsection }}: {% endif %}{{ article.title }}&nbsp;<a href="{{ article.url }}">&sect;</a>
    </h2>

    {% if article.byline %}
    <h3><em>{{ article.byline}}</em></h3>
    {% endif %}

    {% if article.author %}
      <h4>{{ article.author }}</h4>
    {% endif %}

    {% if article.image %}
      <img src="{{ article.idx }}.jpg" width="30%">
    {% endif %}

    {{ article.body }}
  {% endfor %}
</body>
</html>
