<nav epub:type="toc">
  <ol>
    {% for key, group in grouped %}
    <li>
      {% if group|length == 1 %}
        {{ key }}:
        {% for article in group %}
          <a href="index.html#ch{{ article.idx }}">{{ article.title }}</a>
          {% if article.author and article.author != article.category %}
            ({{ article.author }})
          {% endif %}
        {% endfor %}
      {% else %}
        {{ key }}
        <ol>
          {% for article in group %}
          <li>
            <a href="index.html#ch{{ article.idx }}">{{ article.title }}</a>
            {% if article.author %}
              ({{ article.author }})
            {% endif %}
          </li>
          {% endfor %}
        </ol>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
